In [2]:
import pandas as pd        
import numpy as np

In [3]:
train_df = pd.read_csv('./Files/train.csv', header=0)

In [4]:
train_df.head(2)

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [5]:
len(train_df)

891

In [6]:
missing_perc=train_df.apply(lambda x: 100*(1-x.count().sum()/ (1.0*len(x))))