In [2]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# %matplotlib inline

In [4]:
date_stngs = ['2014-05-01','2014-05-02',
'2014-05-05','2014-05-06','2014-05-07']

In [5]:
tradeDates = pd.to_datetime(date_stngs)
tradeDates

DatetimeIndex(['2014-05-01', '2014-05-02', '2014-05-05', '2014-05-06',
               '2014-05-07'],
              dtype='datetime64[ns]', freq=None)

In [6]:
closingPrices=[531.35,527.93,527.81,515.14,509.96]
googClosingPrices=pd.DataFrame(closingPrices,  columns=['closingPrices'], index=tradeDates)
googClosingPrices

            closingPrices
2014-05-01         531.35
2014-05-02         527.93
2014-05-05         527.81
2014-05-06         515.14
2014-05-07         509.96

In [7]:
ibmData=pd.read_csv('./Files/ibm-common-stock-closing-prices-1959_1960.csv')
ibmData.head()

    TradeDate closingPrice
0  1959-06-29          445
1  1959-06-30          448
2  1959-07-01          450
3  1959-07-02         447e
4  1959-07-06          451

In [8]:
type(ibmData['TradeDate'][0])

str

In [9]:
ibmData['TradeDate']=pd.to_datetime(ibmData['TradeDate'])
type(ibmData['TradeDate'][0])

pandas._libs.tslib.Timestamp

In [10]:
ibmTS = ibmData.set_index('TradeDate')['closingPrice']

In [11]:
xmasDay=pd.datetime(2014,12,25)
xmasDay

datetime.datetime(2014, 12, 25, 0, 0)

In [12]:
boxingDay=xmasDay+pd.DateOffset(days=-1)
boxingDay

Timestamp('2014-12-24 00:00:00')

In [13]:
today=pd.datetime.now()
today

datetime.datetime(2017, 12, 23, 14, 45, 41, 130274)

In [14]:
ibmTS.shift(3, freq=pd.datetools.bday)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pandas.core.datetools.bday is deprecated and will be removed in a future version.
  """Entry point for launching an IPython kernel.

TradeDate
1959-07-02     445
1959-07-03     448
1959-07-06     450
1959-07-07    447e
1959-07-09     451
1959-07-10     453
1959-07-13     454
1959-07-14     454
1959-07-15     459
1959-07-16     440
1959-07-17     446
1959-07-20     443
1959-07-21     443
1959-07-22     440
1959-07-23     439
1959-07-24     435
1959-07-27     435
1959-07-28     436
1959-07-29     435
1959-07-30     435
1959-07-31     435
1959-08-03     433
1959-08-04     429
1959-08-05     428
1959-08-06     425
1959-08-07     427
1959-08-10     425
1959-08-11     422
1959-08-12     409
1959-08-13     407
              ...
1960-05-24     473
1960-05-25     473
1960-05-26     475
1960-05-27     499
1960-05-30     485
1960-05-31     491
1960-06-01     496
1960-06-03     504
1960-06-06     504
1960-06-07     509
1960-06-08     511
1960-06-09     524
1960-06-10     525
1960-06-13     541
1960-06-14     531
1960-06-15     529
1960-06-16     530
1960-06-17     531
1960-06-20     527
1960-06-21     525
1960-06-22     519
1960-06-23     514
1960-06-24     509
1960-06-27     505
1960-06-28     513
1960-06-29     525
1960-06-30     519
1960-07-01     519
1960-07-04     522
1960-07-05     522
Name: closingPrice, Length: 255, dtype: object

In [15]:
ibmTS.asfreq('BM')

TradeDate
1959-06-30    448
1959-07-31    428
1959-08-31    425
1959-09-30    411
1959-10-30    411
1959-11-30    428
1959-12-31    439
1960-01-29    418
1960-02-29    419
1960-03-31    445
1960-04-29    453
1960-05-31    504
1960-06-30    522
Freq: BM, Name: closingPrice, dtype: object

In [16]:
googTickData = pd.read_csv('./Files/GOOG_tickdata_20140527.csv')
googTickData.head()

    Timestamp    close    high     low    open  volume
0  1401197402  555.008  556.41  554.35  556.38   81100
1  1401197460  556.250  556.30  555.25  555.25   18500
2  1401197526  556.730  556.75  556.05  556.39    9900
3  1401197582  557.480  557.67  556.73  556.73   14700
4  1401197642  558.155  558.66  557.48  557.59   15700

In [17]:
googTickData['tstamp']=pd.to_datetime(googTickData['Timestamp'], unit='s', utc='True')

In [18]:
googTickData.head()

    Timestamp    close    high     low    open  volume              tstamp
0  1401197402  555.008  556.41  554.35  556.38   81100 2014-05-27 13:30:02
1  1401197460  556.250  556.30  555.25  555.25   18500 2014-05-27 13:31:00
2  1401197526  556.730  556.75  556.05  556.39    9900 2014-05-27 13:32:06
3  1401197582  557.480  557.67  556.73  556.73   14700 2014-05-27 13:33:02
4  1401197642  558.155  558.66  557.48  557.59   15700 2014-05-27 13:34:02

In [19]:
googTickTS = googTickData.set_index('tstamp')
googTickTS = googTickTS.drop('Timestamp', axis=1)
googTickTS.head()

                       close    high     low    open  volume
tstamp
2014-05-27 13:30:02  555.008  556.41  554.35  556.38   81100
2014-05-27 13:31:00  556.250  556.30  555.25  555.25   18500
2014-05-27 13:32:06  556.730  556.75  556.05  556.39    9900
2014-05-27 13:33:02  557.480  557.67  556.73  556.73   14700
2014-05-27 13:34:02  558.155  558.66  557.48  557.59   15700

In [20]:
googTickTS.index=googTickTS.index.tz_localize('UTC').tz_convert('US/Eastern')
googTickTS.head()

                             close    high     low    open  volume
tstamp
2014-05-27 09:30:02-04:00  555.008  556.41  554.35  556.38   81100
2014-05-27 09:31:00-04:00  556.250  556.30  555.25  555.25   18500
2014-05-27 09:32:06-04:00  556.730  556.75  556.05  556.39    9900
2014-05-27 09:33:02-04:00  557.480  557.67  556.73  556.73   14700
2014-05-27 09:34:02-04:00  558.155  558.66  557.48  557.59   15700

In [21]:
googTickTS.tail()

                              close    high     low     open  volume
tstamp
2014-05-27 15:56:00-04:00  565.4300  565.48  565.30  565.385   14300
2014-05-27 15:57:00-04:00  565.3050  565.46  565.20  565.400   14700
2014-05-27 15:58:00-04:00  565.1101  565.31  565.10  565.310   23200
2014-05-27 15:59:00-04:00  565.9400  566.00  565.08  565.230   55600
2014-05-27 16:00:00-04:00  565.9500  565.95  565.95  565.950  126000

In [22]:
googTickTS.resample('5Min', closed='left').mean().tail()

                               close     high       low       open  volume
tstamp
2014-05-27 15:40:00-04:00  563.50600  563.581  563.4000  563.45198    3560
2014-05-27 15:45:00-04:00  564.18200  564.248  563.9930  564.05598   10440
2014-05-27 15:50:00-04:00  565.08820  565.138  564.9432  565.00000   15600
2014-05-27 15:55:00-04:00  565.42902  565.534  565.1800  565.30900   23920
2014-05-27 16:00:00-04:00  565.95000  565.950  565.9500  565.95000  126000

In [23]:
googTickTS[-3:].resample('30s').ffill()

                              close    high     low    open  volume
tstamp
2014-05-27 15:58:00-04:00  565.1101  565.31  565.10  565.31   23200
2014-05-27 15:58:30-04:00  565.1101  565.31  565.10  565.31   23200
2014-05-27 15:59:00-04:00  565.9400  566.00  565.08  565.23   55600
2014-05-27 15:59:30-04:00  565.9400  566.00  565.08  565.23   55600
2014-05-27 16:00:00-04:00  565.9500  565.95  565.95  565.95  126000

In [24]:
x = pd.Period('2014-06-11 11:00', 'H')
y = pd.Period('2014-06-11 11:33', 'T')

In [25]:
y-x

IncompatibleFrequency: Input has different freq=H from Period(freq=T)

In [27]:
perRng=pd.period_range('2014-02-01','2014-02-06',freq='D')

In [ ]:
perRng

In [ ]:
X = np.linspace(-np.pi, np.pi, 256, endpoint=True)
X

In [ ]:
f,g = np.cos(X)+np.sin(X), np.sin(X)-np.cos(X)

In [ ]:
f_ser=pd.Series(f)
g_ser=pd.Series(g)

In [ ]:
plotDF=pd.concat([f_ser,g_ser],axis=1)
plotDF.index=X
plotDF.columns=['sin(x)+cos(x)','sin(x)-cos(x)']
plotDF.head()

In [ ]:
plotDF.plot()

In [ ]:
plt.show()

In [ ]:
plotDF.plot(title='Plot of f(x)=sin(x)+cos(x), \n g(x) =sin(x)-cos(x)')

In [ ]:
plt.show()

In [ ]:
import random         
random.seed(100)         
testScores = [random.randint(0,100) for p in range(0,20)] 
testScores

In [ ]:
sortedScores = np.sort(testScores)

In [ ]:
sortedScores

In [ ]:
rankedScores = {i+1: sortedScores[i] for i in range(len(sortedScores))}

In [ ]:
rankedScores

In [36]:
import scipy.stats as stats

In [38]:
stats.norm.cdf(3.75)

0.99991158271479919