In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# %matplotlib inline

In [3]:
date_stngs = ['2014-05-01','2014-05-02',
'2014-05-05','2014-05-06','2014-05-07']

In [5]:
tradeDates = pd.to_datetime(date_stngs)
tradeDates

DatetimeIndex(['2014-05-01', '2014-05-02', '2014-05-05', '2014-05-06',
               '2014-05-07'],
              dtype='datetime64[ns]', freq=None)

In [12]:
closingPrices=[531.35,527.93,527.81,515.14,509.96]
googClosingPrices=pd.DataFrame(closingPrices,  columns=['closingPrices'], index=tradeDates)
googClosingPrices

            closingPrices
2014-05-01         531.35
2014-05-02         527.93
2014-05-05         527.81
2014-05-06         515.14
2014-05-07         509.96

In [64]:
ibmData=pd.read_csv('./Files/ibm-common-stock-closing-prices-1959_1960.csv')
ibmData.head()

   TradeDate  closingPrice
0  6/29/1959           445
1  6/30/1959           448
2   7/1/1959           450
3   7/2/1959           447
4   7/6/1959           451

In [41]:
type(ibmData['TradeDate'][0])

str

In [66]:
ibmData['TradeDate']=pd.to_datetime(ibmData['TradeDate'])
type(ibmData['TradeDate'][0])

pandas._libs.tslib.Timestamp

In [67]:
ibmTS = ibmData.set_index('TradeDate')['closingPrice']

In [72]:
xmasDay=pd.datetime(2014,12,25)
xmasDay

datetime.datetime(2014, 12, 25, 0, 0)

In [75]:
boxingDay=xmasDay+pd.DateOffset(days=-1)
boxingDay

Timestamp('2014-12-24 00:00:00')

In [76]:
today=pd.datetime.now()
today

datetime.datetime(2017, 12, 20, 16, 40, 24, 437692)