In [1]:
import scipy.stats as stats
import pandas as pd
import numpy as np

In [2]:
feRawData = pd.read_csv('./Files/2014_FEGuide.csv')
feRawData.head()

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Trans as listed in FE Guide (derived from col AA thru AF),City FE (Guide) - Conventional Fuel,...,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Rounded Adjusted (as shown on FE Label),CO2-PHEV Composite Rounded Adjusted Combined CO2,240V Charge Time at 240 volts (hours),120V Charge time at 120 Volts (hours),PHEV Total Driving Range (rounded to nearest 10 miles)DISTANCE,City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2014.0,aston martin,Aston Martin Lagonda Ltd,V8 Vantage,ASX,2,4.7,8,Auto(AM7),14,...,654,426,551,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014.0,aston martin,Aston Martin Lagonda Ltd,V8 Vantage,ASX,1,4.7,8,Manual(M6),13,...,680,461,581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014.0,aston martin,Aston Martin Lagonda Ltd,V8 Vantage S,ASX,4,4.7,8,Auto(AM7),14,...,654,426,551,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014.0,aston martin,Aston Martin Lagonda Ltd,V8 Vantage S,ASX,3,4.7,8,Manual(M6),13,...,680,461,581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014.0,Audi,Audi,R8,ADX,5,4.2,8,Auto(AM-S7),14,...,656,394,538,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
transType=feRawData['Trans as listed in FE Guide (derived from col AA thru AF)']

In [4]:
transType.head()

0      Auto(AM7)
1     Manual(M6)
2      Auto(AM7)
3     Manual(M6)
4    Auto(AM-S7)
Name: Trans as listed in FE Guide (derived from col AA thru AF), dtype: object

In [5]:
transTypeSeries = transType.str.split('(').str.get(0)
transTypeSeries.head()

0      Auto
1    Manual
2      Auto
3    Manual
4      Auto
Name: Trans as listed in FE Guide (derived from col AA thru AF), dtype: object

In [6]:
FeData = pd.DataFrame( [transTypeSeries, feRawData['City FE (Guide) - Conventional Fuel']]).T
FeData.rename( inplace=True,columns={'City FE (Guide) - Conventional Fuel':'MPG',
                      'Trans as listed in FE Guide (derived from col AA thru AF)':'TransType'})

FeData.head()

  TransType MPG
0      Auto  14
1    Manual  13
2      Auto  14
3    Manual  13
4      Auto  14

In [7]:
FeData_auto = FeData[FeData['TransType']=='Auto']
FeData_manual = FeData[FeData['TransType']=='Manual']

In [8]:
np.mean(FeData_auto['MPG']), np.mean(FeData_manual['MPG'])

(19.483282674772038, 21.985781990521328)

In [9]:
import scipy.stats as stats
stats.ttest_ind(FeData_auto['MPG'].tolist(), FeData_manual['MPG'].tolist(), equal_var=False)

Ttest_indResult(statistic=-6.4436875447266431, pvalue=3.9430550191913509e-10)

In [10]:
import statsmodels.api as sma
faithful=sma.datasets.get_rdataset("faithful")
faithful.data.head()

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

   eruptions  waiting
0      3.600       79
1      1.800       54
2      3.333       74
3      2.283       62
4      4.533       85

In [11]:
faithfulDF = faithful.data

In [12]:
mean = np.mean(faithfulDF['waiting'])
std = np.std(faithfulDF['waiting'])
N = len(faithfulDF['waiting'])

In [13]:
ci = stats.norm.interval(0.95, loc=mean, scale=std/np.sqrt(N))

In [14]:
ci

(69.28440107709261, 72.509716569966201)

In [22]:
import pandas as pd
import numpy as np
chirpDf = pd.read_csv('./Files/cricket_chirp_temperature.csv')

In [28]:
chirpDF

    chirpFrequency   temperature
0        20.000000     88.599998
1        16.000000     71.599998
2        19.799999     93.300003
3        18.400000     84.300003
4        17.100000     80.599998
5        15.500000     75.199997
6        14.700000     69.699997
7        17.100000     82.000000
8        15.400000     69.400002
9        16.200001     83.300003
10       15.000000     79.599998
11       17.200001     82.599998
12       16.000000     80.599998
13       17.000000     83.500000
14       14.400000     76.300003