In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# %matplotlib inline

In [5]:
date_stngs = ['2014-05-01','2014-05-02',
'2014-05-05','2014-05-06','2014-05-07']

In [6]:
tradeDates = pd.to_datetime(date_stngs)
tradeDates

DatetimeIndex(['2014-05-01', '2014-05-02', '2014-05-05', '2014-05-06',
               '2014-05-07'],
              dtype='datetime64[ns]', freq=None)

In [7]:
closingPrices=[531.35,527.93,527.81,515.14,509.96]
googClosingPrices=pd.DataFrame(closingPrices,  columns=['closingPrices'], index=tradeDates)
googClosingPrices

            closingPrices
2014-05-01         531.35
2014-05-02         527.93
2014-05-05         527.81
2014-05-06         515.14
2014-05-07         509.96

In [8]:
ibmData=pd.read_csv('./Files/ibm-common-stock-closing-prices-1959_1960.csv')
ibmData.head()

    TradeDate closingPrice
0  1959-06-29          445
1  1959-06-30          448
2  1959-07-01          450
3  1959-07-02         447e
4  1959-07-06          451

In [9]:
type(ibmData['TradeDate'][0])

str

In [10]:
ibmData['TradeDate']=pd.to_datetime(ibmData['TradeDate'])
type(ibmData['TradeDate'][0])

pandas._libs.tslib.Timestamp

In [11]:
ibmTS = ibmData.set_index('TradeDate')['closingPrice']

In [12]:
xmasDay=pd.datetime(2014,12,25)
xmasDay

datetime.datetime(2014, 12, 25, 0, 0)

In [13]:
boxingDay=xmasDay+pd.DateOffset(days=-1)
boxingDay

Timestamp('2014-12-24 00:00:00')

In [14]:
today=pd.datetime.now()
today

datetime.datetime(2017, 12, 20, 17, 54, 41, 390042)

In [15]:
ibmTS.shift(1)

TradeDate
1959-06-29     NaN
1959-06-30     445
1959-07-01     448
1959-07-02     450
1959-07-06    447e
1959-07-07     451
1959-07-08     453
1959-07-09     454
1959-07-10     454
1959-07-13     459
1959-07-14     440
1959-07-15     446
1959-07-16     443
1959-07-17     443
1959-07-20     440
1959-07-21     439
1959-07-22     435
1959-07-23     435
1959-07-24     436
1959-07-27     435
1959-07-28     435
1959-07-29     435
1959-07-30     433
1959-07-31     429
1959-08-03     428
1959-08-04     425
1959-08-05     427
1959-08-06     425
1959-08-07     422
1959-08-10     409
              ...
1960-05-19     465
1960-05-20     473
1960-05-23     473
1960-05-24     475
1960-05-25     499
1960-05-26     485
1960-05-27     491
1960-05-31     496
1960-06-01     504
1960-06-02     504
1960-06-03     509
1960-06-06     511
1960-06-07     524
1960-06-08     525
1960-06-09     541
1960-06-10     531
1960-06-13     529
1960-06-14     530
1960-06-15     531
1960-06-16     527
1960-06-17     525
1960-06-20     519
1960-06-21     514
1960-06-22     509
1960-06-23     505
1960-06-24     513
1960-06-27     525
1960-06-28     519
1960-06-29     519
1960-06-30     522
Name: closingPrice, Length: 255, dtype: object